#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#local-video {
  display: block;
  flex: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 200px;
  z-index: 1;
}

#remote-video {
  display: block;
  z-index: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  flex: 1;
  /* make the video fill the whole screen */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#button-tab {
  position: absolute;
  bottom: 0;
  left: 0;
  flex: 1;
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 25px;
}

.icon-container {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon-container button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

video::-webkit-media-controls {
  display: none !important;
}

@supports (-webkit-touch-callout: none) {
  #videobg:paused {
    display: none;
  }
}

.loading {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: "#4154F9";
}

#loading-text {
  color: white;
  font-weight: 500;
  text-align: center;
  animation: fade-in-out 3s ease-in infinite;
}

#cancel {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  animation: fade-in 3s ease-in 1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
